.panel-heading{
    text-align: center;
    background-color: rgba(28,139,236,0.616);
}

.panel-body{
    text-align: center;
    background-color: rgba(255,255,255,0.616);
}

.panel{
    text-align: center;
    background-color:rgba(255,255,255,0);
}

.error-message{
    color: red;
}

.success{
    color: green;
    font-size: 20px;
}

.error{
    color: red;
    font-size: 20px;
}